*.iml
*.log
*.pot
*.pyc
*.vertx
.classpath
.project
.svn
/.gradle
/.idea
/.settings
/.vertx
/bin
/file-uploads
/include
/lib
/local
/node_modules
/prime-core
/prime-vertx
/target
dependency-reduced-pom.xml
local_settings.py
node_modules/
