.classpath
.project
.svn
/node_modules
/bin
/.idea
/.gradle
/include
/lib
/local
/.settings
/target
/.vertx
/file-uploads
*.vertx
*.log
*.pot
*.pyc
local_settings.py
*.iml
dependency-reduced-pom.xml
/prime-core
/prime-vertx
